# The configuration differences to build um with 64 bit integers and reals
# for AusCOM coupling (ACCESS)

# gol124: TODO
%jobdefs UTILIO=utilio \
         PUMF=pumf 

# Assign the name pumf to the executable
# gol124: TODO
bld::exe_name::main_printdump  pumf.exe

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::blockdata          blkdata.o
# gol124: TODO: change it to something more standard
bld::target             um-access.exe

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind64_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
