# The configuration vars required to build convieee with 64 bit integers and reals
%jobdefs UTILIO=utilio \
         CONVIEEE=convieee \
         FLDC=fldc \
         IEEE=ieee

# Assign the name convieee to the executable
bld::exe_name::main_convieee convieee

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::blockdata          blkdata.o
bld::target             convieee

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind64_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
