# The configuration vars required to build convpp with 32 bit integers and reals
%jobdefs UTILIO=utilio \
         CONVPP=convpp

# Assign the name convpp32 to the executable
bld::exe_name::main_convpp  convpp32.exe

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::blockdata          blkdata.o
bld::target             convpp32.exe

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind32_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
