# The configuration vars required to build cumf with 32 bit integers and reals
%jobdefs UTILIO=utilio \
         CONTROL=control \
         CONVIEEE=convieee \
         CUMF=cumf \
         LFOK=lfok \
         FLDC=fldc

# Assign the name cumf to the executable
bld::exe_name::main_compare  cumf32.exe

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::blockdata          blkdata.o
bld::target             cumf32.exe

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind32_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
