# The configuration vars required to build fluxplin with 64 bit integers and reals
%jobdefs UTILIO=utilio \
         FLUXPROC=fluxproc \
         FLXPLIN=flxplin \
         CONTROL=control \
         C70_1A=c70_1a \
         C80_1A=c80_1a \
         C84_1a=c84_1a \
         C92_2A=c92_2a \
         C94_1A=c94_1a \
         C95_2a=c95_2a

# Assign the name fluxplin to the executable
bld::exe_name::flux_transform_main       flxplin

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::target             flxplin

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind64_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
