# The configuration vars required to build qxhistreport with 64 bit integers and reals
%jobdefs HPRT=hprt \
         UTILHIST=utilhist 

# Assign the name qxhistreport to the executable
bld::exe_name::hprint  qxhistreport

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::target             qxhistreport

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind64_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
