# The configuration vars required to build qxsetup with 64 bit integers and reals
%jobdefs SETUP=setup \
         UTILHIST=utilhist \
         UTILS=utils

# Assign the name qxsetup to the executable
bld::exe_name::setup    qxsetup

# Assign the dependencies of the exec
bld::exe_dep            portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::target             qxsetup

# Assign the correct options for 64 bit vs 32 bit
inc $HERE/../bindings/bind64_serial_safe.cfg

# Preprocessing directives
bld::pp::UM		1
