# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Model extract job config for Global Atmosphere pre build with -Chopt
# and REPROD off.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Set trunk version from environment variable
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

version::UM::base    $UM_VERSION

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Set logname to environment variable RLOGNAME.
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

rdest::logname		$RLOGNAME

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Inherit src code and settings from base extract
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

use $UM_BASEDIR/cfg/ext.cfg

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Job specific sections
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
%jobdefs \
   CONTROL=control \
   MPP=mpp \
   ATMOS=atmos \
   GLOBAL=global \
   A04_ALL=a04_all \
   A01_3A=a01_3a \
   A02_3A=a02_3a \
   A03_8B=a03_8b \
   A04_3C=a04_3c \
   A05_4A=a05_4a \
   A06_4A=a06_4a \
   A08_7A=a08_7a \
   A09_2A=a09_2a \
   A10_2A=a10_2a \
   A11_0A=a11_0a \
   A12_2A=a12_2a \
   A13_2A=a13_2a \
   A14_0A=a14_0a \
   A15_1A=a15_1a \
   A16_1A=a16_1a \
   A17_0A=a17_0a \
   A18_2A=a18_2a \
   A19_1A=a19_1a \
   A25_0A=a25_0a \
   A26_0A=a26_0a \
   A30_1A=a30_1a \
   A31_0A=a31_0a \
   A32_1A=a32_1a \
   A33_0A=a33_0a \
   A34_0A=a34_0a \
   A35_0A=a35_0a \
   A38_0A=a38_0a \
   A70_1B=a70_1b \
   A71_1A=a71_1a \
   C70_1A=c70_1a \
   C72_0A=c72_0a \
   C80_1A=c80_1a \
   C82_1A=c82_1a \
   C84_1A=c84_1a \
   C92_2A=c92_2a \
   C94_1A=c94_1a \
   C95_2A=c95_2a \
   C96_1C=c96_1c \
   C97_3A=c97_3a \
   C99_0A=c99_0a
 
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Job specific build declarations
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
bld::exe_name::flumeMain   global_atmos.exe
bld::exe_dep               portio2a.o pio_data_conv.o pio_io_timer.o %mach_deps
bld::excl_dep              USE::NetCDF
bld::excl_dep              INC::mpif.h
bld::excl_dep              USE::mpl
bld::blockdata             blkdata.o
bld::target                global_atmos.exe
bld::pp::UM                1


# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Include binding config to generate correct compiler/linker flags
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

inc $UM_SVN_BIND/bind64_mpp_high.cfg@$UM_VERSION
